<div class="company-profile m-auto mt-4 col-md-6 col-xs-10">
    <div class="company-details">
        <a class="btn edit"><i class="fa-solid fa-pen"></i></a>
        <div class="profile-image text-center">
            <img class="image" src="../../../../../assets/companies_profiles/micro.jpg">
        </div>
        <h4 class="company-name">Microsoft Egypt</h4>
        <div class="notification d-flex align-items-start m-auto justify-content-center mt-3">
            <label class="me-3">notifications</label>
            <p-inputSwitch [(ngModel)]="allowNotifications" (onChange)="allowNotification(allowNotifications)"></p-inputSwitch>
        </div>
    </div>
    <div class="login-info mt-3 p-3">
        <a class="btn edit"><i class="fa-solid fa-pen"></i></a>
        <div class="section-header">
            <h5>Login Info</h5>
        </div>
        <div class="section-body mt-4">
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Email</label>
                <span class="col-md-6 col-xs-12 content">Microsoft@microsoft.com</span>
            </div>
            <div class="row data d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Password</label>
                <span class="col-md-6 col-xs-12 content"><a class="btn change-pass">Change Password</a></span>
            </div>
        </div>
    </div>
    <div class="basic-info mt-3 p-3">
        <a class="btn edit"><i class="fa-solid fa-pen"></i></a>
        <div class="section-header">
            <h5>Basic Info</h5>
        </div>
        <div class="section-body mt-4">
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Started At</label>
                <span class="col-md-6 col-xs-12 content">May 15, 2000</span>
            </div>
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Company Size</label>
                <span class="col-md-6 col-xs-12 content">More Than 1000</span>
            </div>
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Phone</label>
                <span class="col-md-6 col-xs-12 content">562359</span>
            </div>
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Address</label>
                <span class="col-md-6 col-xs-12 content">Smart Village, Cairo</span>
            </div>
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Industry</label>
                <span class="col-md-6 col-xs-12 content">Information Technology</span>
            </div>
            <div class="row data mb-3 d-flex align-items-center">
                <label class="col-md-6 col-xs-12 title">Website Link</label>
                <span class="col-md-6 col-xs-12 content">https://www.microsoft.com/en-eg/</span>
            </div>
        </div>
    </div>
    <div class="login-info mt-3 p-3">
        <a class="btn edit"><i class="fa-solid fa-pen"></i></a>
        <div class="section-header">
            <h5>About Company</h5>
        </div>
        <div class="section-body mt-4 mb-3">
            <div class="row data mb-3 d-flex align-items-center">
                <p class="col-12 title">
                    Microsoft Corporation, commonly known as Microsoft, is an American multinational technology corporation which produces computer software, consumer electronics, personal computers, and related services headquartered at the Microsoft Redmond campus located in Redmond, Washington, United States. Its best-known software products are the Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers. Microsoft ranked No. 21 in the 2020 Fortune 500 rankings of the largest United States corporations by total revenue; it was the world's largest software maker by revenue as of 2016. It is one of the Big Five American information technology companies, alongside Google, Amazon, Apple, and Meta.
                </p>
            </div>
        </div>
    </div>
</div>