<div class="company-reviews m-auto mt-4 col-md-6 col-xs-10">
    <div class="reviews-graph mt-3 p-3">
        <a class="btn add"><i class="fa-solid fa-plus"></i></a>
        <div class="section-header">
            <h5>Reviews</h5>
        </div>
        <div class="section-body mt-4 mb-3">
            <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw" height="60vh"></p-chart>
        </div>
    </div>
    <div class="review mt-3 p-3">
        <div class="section-header">
            
        </div>
        <div class="section-body mt-4 mb-3">
            <div class="row data mb-3 d-flex align-items-center">
                <p class="col-12 title">
                </p>
            </div>
        </div>
    </div>
</div>