<div class="applicant-change-password mt-4">
    <h5 class="change-password-header text-center mb-4">Change Password</h5>
    <div class="change-password mt-2 mb-3 m-auto col-md-3 col-xs-10 p-4">
        <form class="row" #changepass="ngForm">
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputPassword" class="form-label required">Password</label>
                <input name="password" #password="ngModel" [(ngModel)] = "formData.password" type="password" class="form-control" id="exampleInputPassword" pattern = '^\S*(?=\S{8,})(?=\S*\d)(?=\S*[A-Z])(?=\S*[a-z])(?=\S*[!@#$%^&*? ])\S*$' required>
                <span class="error" *ngIf="password.errors?.['pattern'] && password.touched">
                    <ul>
                        <li>Password must be at least 8 characters</li>
                        <li>At least 1 lowercase letter</li>
                        <li>At least 1 uppercase letter</li>
                        <li>At least 1 letter</li>
                        <li>At least 1 special character</li>
                    </ul>
                </span>
            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputConfirmPass" class="form-label required">Confirm Password</label>
                <input #copass="ngModel" [(ngModel)] = "formData.confirmPassword" name="confirmPass" type="password" class="form-control" id="exampleInputConfirmPass" placeholder="Repeat Password" required>
                <span class="error" *ngIf="copass.errors?.['required'] && copass.touched">This Field Is Required</span>
                <span class="error" *ngIf="copass.value != password.value  && copass.touched">Must match previous password</span>
            </div>
            <div class="mb-3 col-12 text-center">
                <input name="submit" type="submit" value="Save" class="submit btn" (click)="changePass()">
            </div>
        </form>
    </div>
</div>