<div class="company-interviews-questions m-auto mt-4 col-md-6 col-xs-10">
    <div class="interviews-questions-header">
        <h5>Interviews Questions</h5>
    </div>
    <div class="interviews-questions mt-3 p-4">
        <span class="posted-date">Jul 15, 2022</span>
        <div class="header">
            <p class="job-position">Backend Developer</p>
        </div>
        <div class="section-body mt-4 mb-3">
            <div class="row question mb-3 d-flex align-items-center">
                <p>What is Abstract class?</p>
            </div>
        </div>
    </div>
</div>