<div class="all-jobs">
  <div class="all-jobs-header row mt-5 ms-0 me-0 d-flex align-items-center text-center">
    <h4 class="col-xs-2 col-md-6 ">All Jobs</h4>
    <div class="filters col-xs-9 col-md-6  row ">
      <div class="input-group mb-3 w-50  d-flex">
        <input type="text" class="form-control search" placeholder="Search By Title" aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <span class="input-group-text search-icon" id="basic-addon2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
      <!-- <div class="col-2">
        <p-sidebar [(visible)]="display" position="right">
          Content
        </p-sidebar>
        <p-button class="filter" type="text" (click)="display = true"><i class="fa-solid fa-sliders"></i></p-button>
      </div> -->
    </div>
  </div>
  <div class="jobs container w-50">

    <div class="row d-flex flex-">
      <div class="col-md-6 mb-3 fw-bold">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let job  of allJobs[0]" class="d-flex flex-column align-items-center text-center">
              <img src="assets/images/microsoft.png" alt="Admin"
                   class="rounded-circle company-profile-picture p-3 border border-1"
                   height="130" width="130">
              <div class="mt-3">
                <p class="job-title mb-1">{{job.job_title}}</p>
                <p class="text-secondary font-size-sm mb-1">{{job.company['company_name']}}</p>
                <p class="text-secondary font-size-sm mb-2">{{job.created_at}}</p>
                <button (click)="details(job.id)" class="details-btn btn">Show Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
