<div class="company-home">
  <div class="home-header text-center mb-4">
    <h5>All Jobs</h5>
    <div id="job-count">120</div>
  </div>
  <div class="home mt-2 mb-3 m-auto">
    <div class="row stats-container">
      <div class="stats">
        <div class="stats-text">
          <div class="stats-title">Open Jobs</div>
          <span class="percentage" id="open-jobs-percentage">30% </span>
          of Total Jobs
        </div>
        <span class="stats-number open" id="open-jobs-count">40</span>
      </div>
      <div class="stats">
        <div class="stats-text">
          <div class="stats-title">Closed Jobs</div>
          <span class="percentage" id="closed-jobs-percentage">70%</span>
          of Total Jobs
        </div>
        <span class="stats-number closed" id="closed-jobs-count">80</span>
      </div>
    </div>
    <div id="recent-jobs">
      <h5 id="recent-jobs-title">Recent Jobs</h5>
      <div class="recent-job-card">
        <div class="stats-text">
          <div class="recent-job-card-title">Senior Frontend Using Angular</div>
          <span class="recent-job-card-status open">Open</span>
          <span class="recent-job-card-date"><i class="fa fa-calendar"></i> July 5, 2022</span>
        </div>
        <div class="recent-job-card-number">30 Applicants</div>
      </div>
      <div class="recent-job-card">
        <div class="stats-text">
          <div class="recent-job-card-title">Senior Frontend Using Angular</div>
          <span class="recent-job-card-status closed">closed</span>
          <span class="recent-job-card-date"><i class="fa fa-calendar"></i> July 4, 2022</span>
        </div>
        <div class="recent-job-card-number">50 Applicants</div>
      </div>
    </div>
  </div>
</div>
