<div class="company-sign-up mt-4">
    <h5 class="sign-up-header text-center mb-4">Company Sign Up</h5>
    <div class="sign-up mt-2 mb-3 m-auto">
        <form class="row" #signup>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputName" class="form-label required">Company Name</label>
                <input name="name" type="text" class="form-control"  id="exampleInputName" placeholder="eg, Microsoft" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputEmail1" class="form-label required">Company Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="eg, microsoft55@gmail.com" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputPassword" class="form-label required">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword" placeholder="eg, microsoft12_comp" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputConfirmPass" class="form-label required">Confirm Password</label>
                <input name="confirmPass" type="password" class="form-control" id="exampleInputConfirmPass" placeholder="Repeat Password" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputPhone" class="form-label required">Phone</label>
                <input name="phone" type="tel" class="form-control" id="exampleInputPhone" placeholder="eg, 01256984215" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputAddress" class="form-label required">Address</label>
                <input name="address" type="text" class="form-control" id="exampleInputAddress" placeholder="eg, smart village, Cairo" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputCity" class="form-label required">City</label>
                <select name="city" class="form-select" aria-label="Default select example" id="exampleInputCity">
                    <option selected>Choose City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputIndustry" class="form-label required">Industry</label>
                <input name="industry" type="text" class="form-control" id="exampleInputIndustry" placeholder="eg, Information Technology" required>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputDate" class="form-label">Started At</label>
                <input name="startAt" type="date" class="form-control" id="exampleInputDate" >
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputSize" class="form-label">Company Size</label>
                <select name="size" class="form-select" aria-label="Default select example" id="exampleInputSize">
                    <option selected>Choose Size</option>
                    <option value="1">Less Than 50</option>
                    <option value="2">More Than 50</option>
                    <option value="3">More Than 100</option>
                  </select>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputImage" class="form-label">Profile Image</label>
                <input name="image" type="file" class="form-control" id="exampleInputImage">
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputLink" class="form-label">Website Link</label>
                <input name="link" type="text" class="form-control" id="exampleInputLink" placeholder="eg, https://www.microsoft.com/en-eg/">
            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputAbout" class="form-label">About Us</label>
                <textarea name="about" class="form-control" rows="5" id="exampleInputAbout" placeholder="Type Short Story About Company"></textarea>
            </div>
            <div class="mb-3 col-12 text-center">
                <input name="submit" type="submit" value="Submit" class="submit btn">
            </div>
        </form>
    </div>
</div>