<div class="company-sign-up mt-4">
    <h5 class="sign-up-header text-center mb-4">Company Sign Up</h5>
    <div class="sign-up mt-2 mb-3 m-auto">
        <form class="row" #signup="ngForm">
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputName" class="form-label required">Company Name</label>
                <input name="name" #cname="ngModel" [(ngModel)] = "formData.name" type="text" class="form-control"  id="exampleInputName" placeholder="eg, Microsoft" minlength="3" required>
                <span class="error" *ngIf="cname.errors?.['required'] && cname.touched">This Field Is Required</span>
                <span class="error" *ngIf="cname.errors?.['minlength']">Name must be more than 3 characters</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputEmail1" class="form-label required">Company Email</label>
                <input name="email" #cemail="ngModel" [(ngModel)] = "formData.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="eg, microsoft55@gmail.com" pattern ='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
                <span class="error" *ngIf="cemail.errors?.['required'] && cemail.touched">This Field Is Required</span>
                <span class="error" *ngIf="cemail.errors?.['pattern'] && cemail.touched">Must be email</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputPassword" class="form-label required">Password</label>
                <input name="password" #cpassword="ngModel" [(ngModel)] = "formData.password" type="password" class="form-control" id="exampleInputPassword" placeholder="eg, microsoft12_comp" pattern = '^\S*(?=\S{8,})(?=\S*\d)(?=\S*[A-Z])(?=\S*[a-z])(?=\S*[!@#$%^&*? ])\S*$' required>
                <span class="error" *ngIf="cpassword.errors?.['required'] && cpassword.touched">This Field Is Required</span>
                <span class="error" *ngIf="cpassword.errors?.['pattern'] && cpassword.touched">
                    <ul>
                        <li>Password must be at least 8 characters</li>
                        <li>At least 1 lowercase letter</li>
                        <li>At least 1 uppercase letter</li>
                        <li>At least 1 letter</li>
                        <li>At least 1 special character</li>
                    </ul>
                </span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputConfirmPass" class="form-label required">Confirm Password</label>
                <input #copass="ngModel" [(ngModel)] = "formData.confirmPassword" name="confirmPass" type="password" class="form-control" id="exampleInputConfirmPass" placeholder="Repeat Password" required>
                <span class="error" *ngIf="copass.errors?.['required'] && copass.touched">This Field Is Required</span>
                <span class="error" *ngIf="copass.value != cpassword.value  && copass.touched">Must match previous password</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputPhone" class="form-label required">Phone</label>
                <input #cphone="ngModel" name="phone" [(ngModel)] = "formData.phone" type="tel" class="form-control" id="exampleInputPhone" placeholder="eg, 01256984215" pattern="^01[0-2,5]{1}[0-9]{8}$" required>
                <span class="error" *ngIf="cphone.errors?.['required'] && cphone.touched">This Field Is Required</span>
                <span class="error" *ngIf="cphone.errors?.['pattern'] && cphone.touched">Phone must be 11 digits and start with 01</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputAddress" class="form-label required">Address</label>
                <input #caddress="ngModel" name="address" [(ngModel)] = "formData.address" type="text" class="form-control" id="exampleInputAddress" placeholder="eg, smart village, Cairo" required>
                <span class="error" *ngIf="caddress.errors?.['required'] && caddress.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputCity" class="form-label required">City</label>
                <select #city="ngModel" name="city" [(ngModel)] = "formData.city" class="form-select" aria-label="Default select example" id="exampleInputCity" required>
                    <option selected>Choose City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span class="error" *ngIf="city.errors?.['required'] && city.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputIndustry" class="form-label required">Industry</label>
                <input #industry="ngModel" name="industry" [(ngModel)] = "formData.industry" type="text" class="form-control" id="exampleInputIndustry" placeholder="eg, Information Technology" required>
                <span class="error" *ngIf="industry.errors?.['required'] && industry.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputDate" class="form-label">Started At</label>
                <input name="startAt" [(ngModel)] = "formData.startedAt" type="date" class="form-control" id="exampleInputDate" >
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputSize" class="form-label">Company Size</label>
                <select name="size" [(ngModel)] = "formData.size" class="form-select" aria-label="Default select example" id="exampleInputSize">
                    <option selected>Choose Size</option>
                    <option value="1">Less Than 50</option>
                    <option value="2">More Than 50</option>
                    <option value="3">More Than 100</option>
                  </select>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputImage" class="form-label">Profile Image</label>
                <input #cimage="ngModel" name="image" [(ngModel)] = "formData.imageUrl" type="file" accept="image/*" class="form-control" id="exampleInputImage">
                <span class="error" *ngIf="cimage.errors?.['accept'] && cimage.touched">File must be image like .png, .jpg</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputLink" class="form-label">Website Link</label>
                <input name="link" [(ngModel)] = "formData.websiteLink" type="text" class="form-control" id="exampleInputLink" placeholder="eg, https://www.microsoft.com/en-eg/">
            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputAbout" class="form-label">About Us</label>
                <textarea #about="ngModel" name="about" [(ngModel)] = "formData.about" class="form-control" rows="5" id="exampleInputAbout" placeholder="Type Short Story About Company" minlength="15"></textarea>
                <span class="error" *ngIf="about.errors?.['minlength'] && about.touched">About must be at least 15 characters</span>
            </div>
            <div class="mb-3 col-12 text-center">
                <input name="submit" type="submit" value="Submit" class="submit btn" (click)="signUp(signup)">
            </div>
        </form>
    </div>
</div>