<div class="deleted-alert alert alert-success w-50 m-auto mt-3" role="alert" *ngIf = "deletedRecordAlert">
    Job is deleted successfuly
</div>
<div class="all-jobs">
    <div class="all-jobs-header row text-center mt-5 ms-0 me-0 d-flex align-items-center">
        <h4 class="col-xs-2 col-md-6 ">All Jobs</h4>
        <div class="filters col-xs-9 col-md-6  row jus">
            <div class="input-group mb-3 w-50 d-flex">
                <input [(ngModel)] = "keyWord" type="text" class="form-control search" placeholder="Search By Title" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text search-icon" id="basic-addon2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
            <div  class="col-2">
                <p-calendar [(ngModel)]="dateValue" [showIcon] = true icon="fa-solid fa-calendar" (onSelect)="selectedDate = dateValue"></p-calendar>
            </div>
        </div>
    </div>

    <div class="jobs container my-4">
        <table class="table table-bordered text-center mt-3">
            <thead class="table-header">
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Job type</th>
                <th>Work type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row"
                *ngFor="let job  of allJobs[0]">
              <td>{{job.job_title}}</td>
              <td>{{job.created_at}}</td>
              <td>{{job.state}}</td>
              <td>{{job.job_type}}</td>
              <td>{{job.work_type}}</td>
              <td>
               <a class="btn details me-2" (click)="details(job.id)"><i class="fa-solid fa-circle-info me-2"></i>Details</a>
                <p-confirmPopup></p-confirmPopup>
                <button (click)="confirm($event, job.id)" pButton icon="fa-solid fa-trash-can" class="delete" label="Delete"></button>
           </td>



            </tr>
            </tbody>
          </table>
    </div>
</div>
