<div class="deleted-alert alert alert-success w-50 m-auto mt-3" role="alert" *ngIf = "insertedJob">
    Job is inserted successfuly
</div>
<div class="post-new-job mt-4">
    <h5 class="post-job-header text-center mb-4">Post New Job</h5>
    <div class="post-job mt-2 mb-3 m-auto">
        <form class="row mt-3" #postJob2="ngForm">
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputName" class="form-label required">Job Title</label>
                <input name="title" #title="ngModel" [(ngModel)] = "formData.title" type="text" class="form-control"  id="exampleInputName" placeholder="eg, Software Engineer" minlength="5" required>
                <span class="error" *ngIf="title.errors?.['required'] && title.touched">This Field Is Required</span>
                <span class="error" *ngIf="title.errors?.['minlength']">Title must be more than 5 characters</span>
            </div>
            
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputLevel" class="form-label required">Position Level</label>
                <select #level="ngModel" name="level" [(ngModel)] = "formData.level" class="form-select" aria-label="Default select example" id="exampleInputLevel" required>
                    <option selected>Choose Level</option>
                    <option value="ENTRY-LEVEL">Entry Level</option>
                    <option value="JUNIOR">Junior</option>
                    <option value="SENIOR">Senior</option>
                </select>
                <span class="error" *ngIf="level.errors?.['required'] && level.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputType" class="form-label required">Work Type</label>
                <select #type="ngModel" name="level" [(ngModel)] = "formData.type" class="form-select" aria-label="Default select example" id="exampleInputType" required>
                    <option selected>Choose Type</option>
                    <option value="REMOTE">Remotly</option>
                    <option value="ONSITE">On Site</option>
                    <option value="HYBRID">Hybrid </option>
                    
                </select>
                <span class="error" *ngIf="type.errors?.['required'] && type.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputLevel" class="form-label required">Job type</label>
                <select #status="ngModel" name="status" [(ngModel)] = "formData.status" class="form-select" aria-label="Default select example" id="exampleInputLevel" required>
                    <option selected>Choose Status</option>
                    <option value="FULLTIME">Full time</option>
                    <option value="PARTTIME">Part time</option>
                    <option value="INTERN">Internship</option>
                </select>
                <span class="error" *ngIf="status.errors?.['required'] && status.touched">This Field Is Required</span>
            </div>
            <div class="form-controls mb-3 col-md-6 col-xs-12">
                <label for="exampleInputLevel" class="form-label required">Salary</label>
                
                <input name="salary" #salary="ngModel" [(ngModel)] = "formData.salary" type="number" class="form-control"  id="exampleInputName" placeholder="salary" minlength="5" required>
                <span class="error" *ngIf="salary.errors?.['required'] && salary.touched">This Field Is Required</span>
                
              
            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputReq" class="form-label required">Requirements</label>
                <textarea #requirement="ngModel" name="about" [(ngModel)] = "formData.requirements" class="form-control" rows="5" id="exampleInputReq" placeholder="Job Requirements" minlength="100" required></textarea>
                <span class="error" *ngIf="requirement.errors?.['required'] && requirement.touched">This Field Is Required</span>
                <span class="error" *ngIf="requirement.errors?.['minlength']">About must be at least 100 characters</span>
            </div>
            <div class="mb-3 col-12 text-center">
                <input name="submit" type="submit" value="Submit" class="submit btn" (click)="postJob(postJob2)" > 
            </div>
        </form>
    </div>
</div>