<div class="company-salaries m-auto mt-4 col-12">
  <div class="salaries mt-3 p-3">
    <a class="btn add"><i class="fa-solid fa-plus"></i></a>
    <div class="section-header">
      <h5>Salaries</h5>
    </div>
    <div class="section-body my-5" *ngFor = "let salary of resData">
      <div class="row p-5">
        <span class="col-9 job-title">{{salary.position}}</span>
        <span class="col-3">8000 LE/Monthly</span>
      </div>
      <div class="row p-5">
        <span class="col-9 job-title">Sales Manager</span>
        <span class="col-3">{{salary.salary}} LE/Monthly</span>
      </div>
    </div>
  </div>
</div>
