/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
*{
    font-family: Arial, Helvetica, sans-serif;
}
.p-inputtext{
    display: none;
}
.p-calendar-w-btn .p-datepicker-trigger{
    background-color: #DCF1FB;
    border: none;
    color: #075D9D;
    font-size: 20px;
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    padding: 8px 4px;
}
.p-calendar .p-datepicker{
    position: absolute;
    left: -150px !important;
    top: 50px !important;
}
.p-confirm-popup-icon{
    color: red;
}
.jobs .p-datatable{
    width: 75%;
    margin: 10px auto;
}
.jobs .p-datatable .p-datatable-thead	{
    background-color: #27B4FB !important;
    color: #fff !important;
}
.company-profile .p-inputswitch{
    height: 25px;
}
.company-profile .p-inputswitch-checked .p-inputswitch-slider		{
    right: 0;
}
.job-detail .p-tabview-ink-bar{
  display:none !important;
}
.job-detail .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus{
  box-shadow: none !important;
}
.job-detail .p-element p-ripple p-tabview-nav-link *{
  background: #8DD2F2;
}
.job-detail .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.job-detail .p-tabview .p-tabview-nav li .p-tabview-nav-link{
  font-size:30px;
  background: none;
  border: none;
  border-radius:50px;
  transition: all 0.7s ease;
}
.job-detail .p-tabview .p-tabview-left-icon{
  font-size:30px;
  margin-left:1.5rem;
}
.job-detail .p-tabview .p-tabview-nav li .p-tabview-nav-link{
  color: #8DD2F2;
}
.job-detail .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: white;
  background: #8DD2F2;
}
.job-detail .p-tabview-nav{
  display:flex;
  justify-content: center;
  -webkit-justify-content: center;
  border: 1px solid #8DD2F2;
  border-radius:50px;
  width:fit-content;
  padding-bottom: 2px;
  margin: 0 auto;
}
.p-rating .p-rating-icon.pi-star-fill	{
  color: rgb(255, 255, 0);
}
.all-jobs .p-ripple,
.all-jobs .p-ripple:hover{
  width:40px;
  height:40px;
  background-color: #DCF1FB;
  border: none;
  color: #075D9D;
  font-size: 20px;
  border-radius: 5px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  padding: 8px 12px;
  outline: none;
}
