<div class="alert alert-success w-50 m-auto mt-3" role="alert" *ngIf = "dataApplied">
    Your Data is Registered successfully
</div>
<div class="applicant-apply-for-job mt-4">
    <h5 class="apply-for-job-header text-center mb-4">Apply For Job</h5>
    <div class="apply-for-job mt-2 mb-3 m-auto">
        <form class="row" #applyforjob="ngForm">
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputExpYears" class="form-label required">Years of Experience</label>
                <input name="expyears" #expYears="ngModel" [(ngModel)] = "formData.yearsOfExp" type="number" class="form-control"  id="exampleInputExpYears" pattern="^\d+$" required>
                <span class="error" *ngIf="expYears.errors?.['required'] && expYears.touched">This Field Is Required</span>
                <span class="error" *ngIf="expYears.errors?.['pattern']">Must Be Postive Number</span>
            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputDate" class="form-label required">Starting Date</label>
                <input name="Date" #startingDate="ngModel" [(ngModel)] = "formData.starting_date" type="number" class="form-control" id="exampleInputDate" required>
                <span class="error" *ngIf="startingDate.errors?.['required'] && startingDate.touched">This Field Is Required</span>

            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputCV" class="form-label required">CV</label>
                <input #cv="ngModel" name="cv" [(ngModel)] = "formData.cv" type="file" class="form-control" id="exampleInputCV" >
                <span class="error" *ngIf="cv.errors?.['required'] && cv.touched">This Field Is Required</span>

            </div>
            <div class="form-controls mb-3 col-12">
                <label for="exampleInputCoverLetter" class="form-label">Cover Letter</label>
                <textarea #coverLetter="ngModel" name="about" [(ngModel)] = "formData.cover_letter" class="form-control" rows="5" id="exampleInputCoverLetter" minlength="15"></textarea>
                <span class="error" *ngIf="coverLetter.errors?.['minlength'] && coverLetter.touched">About must be at least 15 characters</span>
            </div>
            <div class="mb-3 col-12 text-center">
                <input name="submit" type="submit" value="Submit" class="submit btn" (click)="apply(applyforjob)">
            </div>
        </form>
    </div>
</div>